@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'poppins';
    background: #F3F1FF;
}
#header{
    width: 100vw;
    background: #562EFF;
    padding: 15px 0;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo p{
    color: #fff;
}
.logo img{
    width: 40.42px;
    height: 51px;
    color: #FFF;
}
.nav{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav li a{
   text-decoration: none;
   color: #FFF;
   padding: 20px;
}
main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}
.container.complete{
    margin-bottom: 21px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
hr:hover{
    border: 2px solid #562EFF;
}
/* Top playes style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    padding-bottom: 18px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    grid-column-gap:40px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left:16px;
    font-size: 18px;
}
/* top blogs styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    grid-column-gap:30px;
}
.blog{
    display: flex;
    align-items: center;
}
.thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color:#9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}
/* Latest Courses */
.courses{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 24px;
   grid-column-gap:30px;
}
.course{
    width: 250.42px;
    height: 270.79px;
    box-shadow: 0px 5.34229px 13.3557px rgba(17, 13, 13, 0.05);
    padding: 15px;
    border-radius: 5px;
}
.course-banner img{
    width: 240.38px;
    height: 125.51px;
}
.course-title{
    font-size: 20px;
}
.course-author{
    color: #ED6B4F;
    font-style: 14px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    Width : 12.39px;
    height: 11.81px;
}
.fa-star.star{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.course-duration{
    background: #FFE4E8;
    color: #FF4A60;
    border-radius: 15px;
    padding: 5px;
}
footer{
    width: 100vw;
    text-align: center;
    padding: 20px 0;
    background: #562EFF;
}
footer h3 .fa-star{
    font-size: 30px;
    color: #D1D1D1;
    margin-right: 35px;
}
footer h3 span{
    font-size: 30px;
    color: #D1D1D1;
    letter-spacing: 5.7px
}
footer p{
    color: #fff;
    letter-spacing: 2px;
}
/* Media Quaries */
@media only screen and (max-width:688px){
    #header{
        width: 100vw;
    }
    .logo img{
        width: 30px;
        height: 30px;
    }
    .nav li a{
        font-size: 10px;
        padding: 12px;
    }
    .container{
        width: 50%;
    }
    .container.complete{
        width: 70vw;
    }
    .top-players, .top-blogs,.container.complete{
        overflow: hidden;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog, .course{
        flex-direction: column;
    }
    .courses{
        justify-content: center;
        align-items: center;
        box-shadow: none;
    }
}